.contenedor-movies {
    max-width: 1140px;
    margin: 0 auto;

}

.contenedor-cards-movie {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;

}


.listado-movie {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;
}