.contenedor-movies {
    max-width: 1140px;
    margin: auto;
}

.contenedor-cards-movie {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 3rem;
    justify-content: center;


}


.listado-movie {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #666;
    font-weight: 400;

}

.pre-image-movie {
    border-radius: 10px;
    background-color: azure;
}

.title-movie {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.contenedor-titulo-boton-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 10px 0px;
}

.efecto-filter:hover {
    mix-blend-mode: multiply;
    filter: blur(0.2rem) grayscale(0.9);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media (max-width: 560px) {

    .contenedor-cards-movie {
        grid-template-columns: 90%;
        padding: 0px;

    }

    .pre-image-movie {
        width: 100%;
        height: auto;
    }

    .title-movie {
        font-size: 1.5rem;


    }
}